<%- include("header",assetManifest); %>
    <script type="text/x-mathjax-config">
    MathJax.HTML.Cookie.Set("menu",{renderer:'SVG'}); 
    MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX","output/HTML-CSS"],
    "HTML-CSS": {
      availableFonts:[],
      styles: {".MathJax_Preview": {visibility: "hidden"}}
    },
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
    </script>
    <script type="text/javascript" async="" src="resources/js/MathJax/MathJax.js"></script>
        <header class='head'>
            <div>
                <h1 class="login_name">ZXCCHEN</h1>
                <span class='login_msg'>不忘初心，方得始终</span>
                <span class='login_btn'><a href="/login">F F F</a></span>
            </div>
        </header>
        <div class="content">
            <%- include("sidebar",{}) %>
            <script type="text/javascript">
                var blogpost = <%- blogPost %>;
            </script>
            <div class='article_list'>
                <% if(typeof(editorcontent)!='undefined'){ %>
                    <%- editorcontent %>
                <% } %>
                <div class='page_btn'>
                    <a id='page_up' href="">上一章</a>
                    <a id='page_down' href="">下一章</a>
                </div>
            </div>
        </div>
        <script>
            if (blogpost.pageInfo) {
                $("#page_up").text("上一章");
                $("#page_down").text("下一章");
                if (blogpost.pageInfo.prev) {
                    var tmpPrev = "/blogpost?op=show&postId=" + blogpost.pageInfo.prev._id;
                    $("#page_up").attr("title", blogpost.pageInfo.prev.title);
                    $("#page_up").click(function () {
                        $("#page_up").attr("href", tmpPrev);
                    });
                } else {
                    $("#page_up").attr("title", "没有了");
                }
                if (blogpost.pageInfo.next) {
                    var tmpNext = "/blogpost?op=show&postId=" + blogpost.pageInfo.next._id;
                    $("#page_down").attr("title", blogpost.pageInfo.next.title);
                    $("#page_down").click(function () {
                        $("#page_down").attr("href", tmpNext);
                    })
                } else {
                    $("#page_down").attr("title", "没有了");
                }
            }else{
                $("#page_up").text("上一章");
                $("#page_down").text("下一章");
            }
            $("#back").click(function () {
                var time = setInterval(function () {
                    document.body.scrollTop = document.body.scrollTop - 50;
                    if (document.body.scrollTop === 0) {
                        clearInterval(time);
                    }
                }, 1);
            })
        </script>
    </body>

    </html>
