<%- include("header",assetManifest); %>
    <div class="container">
        <%- include("sidebar",{}) %>
        <div class="article_list">
                <h1><%- errorMessage %></h1>
        </div>
    </div>
    <div class="container" id="box_foot"></div>
    
</body>
</html>
