<%- include("header",assetManifest); %>
    <div class="container">
        <%- include("sidebar",{}) %>
        <div class="col-lg-10 col-xs-9" id='content'>
            
        </div>
    </div>
    <div class="container" id="box_foot"></div>
    
</body>
</html>
