<%- include("header",assetManifest); %>
<body>
    <div class="container">
        <div id='back'>Top</div>
        <%- include("sidebar",{}) %>
        <div class="col-lg-7 col-xs-9" id='content'>
            <div class="zombie">
                <div class="face">
                    <div class="head">
                        <div class="brain"></div>
                        <div class="cheek"></div>
                        <div class="cheek1"></div>
                        <div class="leftEye">
                            <div class="brow"></div>
                        </div>
                        <div class="rightEye">
                            <div class="brow"></div>
                        </div>
                        <div class="chin"></div>

                        <div class="nose"></div>
                        <div class="mouth">
                            <div class="tooth">
                                <div class="toothTop"></div>
                                <div class="toothBottom"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id='btn'><span id='page_up'>上一章</span><span id='page_down'>下一章</span></div>
        </div>
        <div class='col-lg-3 col-xs-3' id='game'>
        </div>
    </div>
    <div class="container" id="box_foot"></div>
    
</body>
</html>
