<%- include("header",assetManifest); %>

    <body>
        <div id='content' style="width=100%;">
            <div id="page">
                <div class="computer">
                    <div class="computer_top"></div>
                    <div class="computer_bottom">
                        <div class="black1"></div>
                        <div class="black2">
                            <div class="miniblack1"></div>
                            <div class="miniblack2"></div>
                            <div class="miniblack3"></div>
                            <div class="miniblack4"></div>
                            <div class="miniblack5"></div>
                            <div class="miniblack6"></div>
                        </div>
                        <div class="black3"></div>
                    </div>
                </div>
                <div class="book">
                    <div class="book1"></div>
                    <div class="book2"></div>
                    <div class="book3"></div>
                </div>
                <btn><a href="/blogpost?op=list">进入主页</a></btn>
            </div>
        </div>
        <script type="text/javascript">
            $("body").css({
                "background-color": "#B2DFEE"
            })
            $("#page").css({
                height: $(window).height(),
                width: $(window).width()
            })
            $(".computer").css({
                top: '40%',
                left: '5%'
            })
        </script>
    </body>

    </html>