    <%- include("header",assetManifest); %>
    <div class="content">
        <%- include("sidebar",{}) %>
            <div class="login">
                <form action="/login" method="post">
                    <table>
                        <tr>
                            <td>用户名:</td>
                            <td><input type="text" name="username" /></td>
                        </tr>
                        <tr>
                            <td>密 码:</td>
                            <td><input type="password" name="pwd" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><input type="submit" value="登录" /></td>
                        </tr>
                    </table>
                </form>
            </div>
    </div>
    <div class="container" id="box_foot"></div>
</body>

</html>