 <div class='sidebar'>
    <script type="text/javascript">
        var menuList = <%- menuList %>;
        app.addRender(function () {
            var blogMenu = document.getElementById("blog_menu");
            var listContent = {};
            var blogMenuContent = '';
            for (var key in config.BLOG_POST_TYPES) {
                listContent[key] = [];
            }
            if (menuList instanceof Array) {
                for (var i = 0; i < menuList.length; i++) {
                    listContent[menuList[i].type].push(menuList[i]);
                }
            }
            for (var j in listContent) {
                var articleUl = [];
                articleUl.push("<div class='sidebar_box'><h5 class='sidebar_type'>" + config.BLOG_POST_TYPES[j] + "</h5>");
                articleUl.push("<ul class='sidebar_list'>");
                for (var k = 0; k < listContent[j].length; k++) {
                    var liContent = "<li><a href='/blogpost?op=show&postId=" + listContent[j][k]._id + "'>" +
                        listContent[j][k].title + "</a></li>";
                    articleUl.push(liContent);
                }
                articleUl.push("<li><a href='/blogpost?op=list&type=" + j + "'>&nbsp;更多...</a></li>")
                articleUl.push("</ul></div>");
                blogMenuContent += articleUl.join("");
            }
            blogMenu.innerHTML = blogMenuContent;
        });
    </script>
    <div id="blog_menu"></div>
    <div class="pointer">简历</div>
</div>