body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
    margin:0;
    padding:0;
}

body{
    font:12px"宋体","Arial Narrow",
    HELVETICA;background:#fff;
    -webkit-text-size-adjust:100%;
}

a{
    color:#2d374b;
    text-decoration:none;
}
em{
    font-style:normal;
}

li{
    list-style:none;
    display:inline-block;
}

img{
    border:0;vertical-align:middle;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}
p{
    word-wrap:break-word;
}

div{
    box-sizing:border-box;
}

a{
    text-decoration:none;
    font-size: 16px;
    color:black;
    border-bottom:1px solid white;
    
    -webkit-transition:border-bottom 0.6s ease-in-out;
    -moz-transition:border-bottom 0.6s ease-in-out;
    transition:border-bottom 0.6s ease-in-out;
}

a:hover{
    border-bottom:1px solid rgb(164,164,164);
}

#container{
    width:80%;
    margin:0 auto;
}

#header{
    height:28%;
}

#header #logo,#banner_ul,#banner_search{
    display:inline-block;
    height:60%;
    vertical-align:bottom;
    margin-top:6%;
}

#header #logo{
    width:60%;
}

#header #logo span{
    position:relati
    top:5%;
    font-size:6em;
    font-weight:800;
    letter-spacing:2px;
}

#header #logo #search{
    position:relative;
    top:10%; 
    width: 42%;
    height: 14%;
    border-bottom: 2px solid black;
}

#header #logo #search input{
    border: none;
    width: 70%;
}

#header #logo #search button{
    border:none;
    background-color: white;
    font-size: 1em;
    letter-spacing: 10px;
    float: right;
}

#header #banner_ul{
    width:20%;
}

#header #banner_ul li{
    width:35%;
    margin-left:12%;
    margin-top:3%;
}

#header #banner_ul li a{
    display: inline-block;
    height: 18%;
    width: 80%;
    text-align: center;
    font-size: 1.2em;
}

#header #banner_search{
    width:18%;
    border-left:1px solid rgb(184,184,184);
}

#header #banner_search a{
    display:inline-block;
    height: 10%;
    width: 60%;
    text-align: center;
    margin-top:3%;
    margin-left: 2%;
    font-size: 1.2em;
}

#section1{
    height:64%;
    margin-top:-3%;
}

#section1 #nav{
    height:18%;
}

#section1 #nav ul{
    width:100%;
    margin:0 auto;
    
}

#section1 #nav ul li{
    width:12%;
    text-align:center;
    margin-right:1%;
    margin-top:2%;
}

#section1 #nav ul li a{
    display: inline-block;
    width: 150px;
    height: 30px;
    font-size: 2em;
}

#section1 #slide{
    height:82%;
    font-size:0;
    border:1px solid rgb(234,234,234);
}

#section1 #slide #introduction,#scroll_banner{
    display:inline-block;
    height:100%;
}

#section1 #slide #introduction{
    width:25%;
    border-right: 1px solid rgb(234,234,234);
}

#section1 #slide #scroll_banner{
    width:75%;
    position:relative;
}

#section1 #slide #scroll_changebtn{
    height: 5%;
    position: relative;
    top: -40%;
}

#section1 #slide #btn_left,#btn_right{
    width:30px;
    height:30px;
    border: 1px solid black;
    cursor: pointer;
}

#section1 #slide #btn_left{
    float: left;
    position: relative;
    left: 1%;
}

#section1 #slide #btn_right{
    float: right;
    position: relative;
    right: 1%;
}

#section1 #slide #blogname{
    position:relative;
    top:-40%;
    left:14%;
    font-size: 80px;
}

#section1 #slide #scroll_btn{
    position:relative;
    top:-27%;
    margin-left:3%;
    width:20%;
    height:2%;
}

#section1 #slide #scroll_btn  ul li{
    box-sizing: border-box;
    width:20%;
    height: 4px;
    border-right:1px solid white;
    background-color:rgb(194,194,194);
    cursor: pointer;
}

#section1 #slide #scroll_btn  ul li:nth-of-type(1){
    background-color:rgb(104,104,104);
}

#section2{
    height:80%;
    margin-top: -6%;
}

#section2 #headline{
    font-size:30px;
    font-weight:800px;
}

#section2 table{
    margin-top: 3%;
    border-collapse:collapse;
    width:100%;
    height:90%;
    border: 1px solid rgb(234,234,234);
}

#section2 table .item_display{
    float:left;
    margin-left: 4%;
    width:50%;
    height:85%;
    border:1px solid rgb(234,234,234);
}

#section2 table .item_description{
    width:36%;
    height: 85%;
    float: right;
    margin-right: 4%;
}

#section2 table .item_description span:first-child{
    display: block;
    height: 10%;
    font-size: 1em;
}

#section2 table .item_description span:last-child{
    display: block;
    height: 85%;
    border:1px solid rgb(234,234,234);
}

#section3{
    height: 56%;
    margin-top: -12%;
}

#section3 div{
    display: inline-block;
    height: 100%;
    border:1px solid rgb(234,234,234);
    border-top:3px solid black;
}

#section3 div:nth-of-type(1){
    float: left;
    width: 31%;
}

#section3 div:nth-of-type(2){
    width: 32%;
    margin-left: 2%;
}

#section3 div:nth-of-type(3){
    float: right;
    width: 33%;
}

#footer{
    height: 30%;
    margin-top: 1%;
}

#footer #social_contact{
    height: 16%;
    border-top:2px solid black;
    border-bottom:2px solid black;
}

#footer #social_contact ul{
    display: inline-block;
    width: 60%;
    line-height: 46px;
}

#footer #social_contact ul li{
    width: 19%;
}

#footer #social_contact ul li a{
    font-size: 20px;
}

#footer #social_contact span{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    float: right;
    margin-left: 1%;
    margin-top:1%;
}

#footer #social_text{
    margin-top: 1%;
    height:65%;
}

#footer #social_text span{
    display: inline-block;
    width: 20%;
    height: 100%;
    border: 1px solid black;
}

#footer #social_text span:nth-of-type(3){
    float: right;
    margin-right: 2%;
}
