body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
    margin:0;
    padding:0;
}

body{
    font:0.875em,"黑体","Arial Narrow",
    HELVETICA;background:#fff;
    -webkit-text-size-adjust:100%;
}

a{
    color:#2d374b;
    text-decoration:none;
}

em{
    font-style:normal;
}

li{
    list-style:none;
    display:inline-block;
}

img{
    border:0;vertical-align:middle;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}
p{
    word-wrap:break-word;
}

div{
    box-sizing:border-box;
}

a{
    text-decoration:none;
    font-size: 0.875em;
    color:black;
    border-bottom:1px solid white;
    
    -webkit-transition:border-bottom 0.6s ease-in-out;
    -moz-transition:border-bottom 0.6s ease-in-out;
    transition:border-bottom 0.6s ease-in-out;
}

a:hover{
    border-bottom:1px solid rgb(164,164,164);
}

#container{
    width:80%;
    height: 1800px;
    margin:0 auto;
}

#header{
    height:16%;
}

#header #logo,#banner_search{
    display:inline-block;
    height:60%;
    vertical-align:bottom;
    margin-top:3%;
}

#header #logo{
    width:60%;
}

#header #logo span{
    position:relati
    top:5%;
    font-size:6em;
    font-weight:800;
    letter-spacing:2px;
}

#header #logo #search{
    position:relative;
    top:26%; 
    width: 42%;
    height: 14%;
    border-bottom: 2px solid black;
}

#header #logo #search input{
    border: none;
    width: 70%;
}

#header #logo #search button{
    border:none;
    background-color: white;
    font-size: 1em;
    letter-spacing: 10px;
    float: right;
}

#header #banner_search{
    width:34%;
    float: right;
}

#header #banner_search a{
    height: 10%;
    width: 12%;
    text-align: left;
    font-size: 0.875em;
    float: right;
}

#header #game{
    width:96%;
    height: 84%;
    margin: auto;
    margin-top:4%;
    border: 1px solid rgb(204,204,204);
}

#section1{
    height:34%;
    margin-top:-3%;
}

#section1 #nav{
    height:10%;
}

#section1 #nav ul{
    width:100%;
    margin:0 auto;
    display: flex;
    
}

#section1 #nav ul li{
    width:12%;
    text-align:center;
    margin-right:1%;
    margin-top:2%;
    flex-grow: 1;
}

#section1 #nav ul li a{
    display: inline-block;
    width: 100%;
    font-size: 1.6em;
    font-weight:800;
}

#section1 #slide{
    height:88%;
    margin-top: 1%;
    border:1px solid rgb(234,234,234);
}

#section1 #slide #introduction,#scroll_banner{
    display:inline-block;
    height:100%;
}

#section1 #slide #introduction{
    width:25%;
    border-right: 1px solid rgb(234,234,234);
}

#section1 #slide #scroll_banner{
    width:75%;
    float: right;
}

#section1 #slide #scroll_changebtn{
    height: 5%;
    position: relative;
    top: -40%;
}

#section1 #slide #btn_left,#btn_right{
    width:2%;
    height:104%;
    border: 12px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    cursor: pointer;
}

#section1 #slide #btn_left{
    float: left;
    position: relative;
    left: 1%;
    -webkit-transition:all 0.6s ease-in-out;
    -moz-transition:all 0.6s ease-in-out;
    transition:all 0.6s ease-in-out;
}

#section1 #slide #btn_left:hover{
    border: 
}

#section1 #slide #btn_right{
    float: right;
    position: relative;
    right: 1%;
}

#section1 #slide span{
    position:relative;
    font-size: 6em;
    position: relative;
    top:64%;
    left: 72%;
}

#section1 #slide #scroll_btn{
    position:relative;
    top:-16%;
    margin-left:3%;
    width:20%;
    height:6%;
}

#section1 #slide #scroll_btn  ul li{
    box-sizing: border-box;
    width:16%;
    height: 4px;
    border-right:1px solid white;
    background-color:rgb(194,194,194);
    cursor: pointer;
    
    -webkit-transition:background-color 0.4s ease-in-out;
    -moz-transition:background-color 0.4s ease-in-out;
    transition:background-color 0.4s ease-in-out;
}

#section1 #slide #scroll_btn  ul li:nth-of-type(1){
    background-color:rgb(144,144,144);
}

#section1 #slide #scroll_btn  ul li:hover{
    background-color:rgb(144,144,144);
}

#section2{
    height:35%;
    margin-top: 1%;
}

#section2 #headline{
    font-size:2em;
    font-weight:800;
}

#section2 table{
    margin-top: 1%;
    border-collapse:collapse;
    width:100%;
    height:80%;
    border: 1px solid rgb(234,234,234);
}

#section2 table .item_display{
    float:left;
    margin-left: 4%;
    width:50%;
    height:85%;
    border:1px solid rgb(234,234,234);
}

#section2 table .item_description{
    width:36%;
    height: 85%;
    float: right;
    margin-right: 4%;
}

#section2 table .item_description span:first-child{
    display: block;
    height: 10%;
    font-size: 1em;
}

#section2 table .item_description span:last-child{
    display: block;
    height: 85%;
    border:1px solid rgb(234,234,234);
}

#footer{
    height: 17.2%;
    margin-top:-2%;
}

#footer #social_contact{
    height: 16%;
    border-top:2px solid black;
    border-bottom:2px solid black;
}

#footer #social_contact ul{
    display: inline-block;
    width: 60%;
    line-height: 46px;
}

#footer #social_contact ul li{
    width: 18%;
}

#footer #social_contact ul li a{
    display: inline-block;
    height: 40px;
    font-size: 1.25em;
}

#footer #social_contact span{
    display: inline-block;
    width: 1.6%;
    height: 50%;
    border: 1px solid black;
    float: right;
    margin-left: 1%;
    margin-top:1%;
}

#footer #social_text{
    margin-top: 1%;
    height:65%;
}

#footer #social_text span{
    display: inline-block;
    width: 20%;
    height: 100%;
    border: 1px solid black;
    vertical-align: top;
}

#footer #social_text span:nth-of-type(3){
    float: right;
    margin-right: 2%;
}