*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
html,body{
    height: 100%;
    overflow-x: hidden;
}
a,a:link,a:visited{
    text-decoration: none;
}
ul li,ol,li{
    list-style: none;
}

.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    line-height: 1.5;
    background-color:#333;
    color: #fff;
    z-index: 100;
}

.head>div{
    position: relative;
    top: 0.2rem;
    margin: auto 5%;
}

.login_name{
    font-size: 34px;
}

.login_name:hover {
    cursor:pointer;
}

.head>div span{
    position: absolute;
    right: 0;
    bottom: 0.6rem;
}

.head>div .login_msg{
    right: 3rem;
}

.head a,
.head a:visited{
    color: white;
}

.head a:hover{
    color: #2086d7;
}

.meau_btn{
    position: fixed;
    top: 3.5rem;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #333;
    border-top: 1px solid rgba(255,255,255,0.1);
    display: none;
    z-index: 10;
    color: white;
    text-indent: 1rem;
    font-size: 18px;
}

.admin_button{
    position: fixed;
    right: 5%;
    margin-bottom: 1rem;
    display: block;
    width: 5.5rem;
    height: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
    background-color: #2086d7;
    color: white;
    border-radius: 0.3rem;
    z-index: 20;
}

.admin_button_first{
    top: 4rem;
}

.admin_button_second{
    top: 6rem;
}

.content{
    position: relative;
    margin: auto 5%;
    height: 100%;
}

.sidebar{
    display: inline-block;
    margin-top: 5rem;
    width: 20%;
}

.sidebar_box{
    position: relative;
    padding-left: 1.5rem;
}

.sidebar_type{
    font-size: 18px;
}

.article_list{
    position: absolute;
    top: 0;
    display: inline-block;
    margin-top: 4rem;
    width: 80%;
}

.article_list_content{
    min-height: 35rem;
}

.sidebar_list::before{
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 1.8em;
    bottom: 0.5rem;
    border-left: 1px dashed #999;
}

.sidebar_list li{
    position: relative;
    text-indent: 1rem;
    line-height: 1.5;
}
    
.sidebar_list li::before{
    content: '';
    position: absolute;
    width: 0.5em;
    left: 0.5rem;
    top: 60%;
    border-bottom: 1px dashed #999999;
}

.sidebar_list li a,
.sidebar_list li a:link,
.sidebar_list li a:visited{
    display: block;
    width: 90%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: #535353;
}

.login {
    display: inline-block;
    width: 60%;
    margin: 20%;
}

.login table{
    margin:100px auto;
}

.article_list_content ul {
    margin: 0.8rem auto;
}

.article_list_content ul li {
    padding: 0.5rem 0;
}

.article_list_content ul li a,
.article_list_content ul li a:link,
.article_list_content ul li a:visited{
    color:#333;
    text-decoration: none;
}

.article_list_content ul li a:hover {
    background: #555;
    color:#fff;
}

#article_content{
    font-family: "Roboto";
    line-height: 1.5;
}

#article_content .article_title{
    font-family: "Roboto Slab";
    font-size: 26px;
    color: rgb(85,85,85);
    font-weight:300;
}

#article_content h1,
#article_content h2,
#article_content h3,
#article_content h4,
#article_content h5,
#article_content h6{
    font-family: "Roboto Slab";
    font-size: 20px;
    color:#2e3a41;
    font-weight:300;
    padding:20px 0;
    
}

#article_content a,
#article_content a:link,
#article_content a:visited{
    color: #2086d7;
}

#article_content p{
    line-height: 2;
    color: rgb(85,85,85);
}

#article_content table{
    color: #535353;
}

#article_content p strong{
    font-size: 18px;
    line-height: 2;
}

.article_list button a:hover{
    cursor: default;
}

.article_list button a,
.article_list button a:link,
.article_list button a:visited{
    color: rgb(85,85,85);
    text-decoration: none;
}

.article_time{
    font-family: "Roboto Slab";
    text-align: right;
    padding:0.8rem 0;

}

.page_btn{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 2rem;
}

.page_btn a,
.page_btn a:link,
.page_btn a:visited{
    color:rgb(85,85,85);
}

@media screen and (max-width:480px){
    *{
        font-size: 12px;
    }

    .login_name{
        font-size: 26px;
    }

    .meau_btn{
        display: block;
    }

    .add_new_arcitle{
        display: none;
    }

    .sidebar {
        position: absolute;
        margin-left: -6%;
        margin-top: 6rem;
        background-color: #444;
        color: white;
        display: none;
    }

    .sidebar_list li a, .sidebar_list li a:link, .sidebar_list li a:visited{
        color: white;
    }

    .article_list {
        position: initial;
        margin-top: 6rem;
        width: 100%;
    }

    .sidebar_type {
        font-size: 14px;
    }

    #article_content svg{
        max-width:100%;
    }

    #article_content img {
        max-width:100%;
    }

    .toggle_meau{
        display: block;
        animation: toggleMeau 1s forwards;
        -webkit-animation:toggleMeau 1s forwards;
    }

    @keyframes toggleMeau {
        to{
            width: 90%;
        }
    }
}